<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/about">Who am I?</a>
                </li>
                <li><a class="dropdown-button" href="{{ site.baseurl | replace: '//', '/' }}/categories" data-activates='drop-example'>Categories&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                </li>
                <div id="drop-example" class="dropdown-content">
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Art</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Food</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Funnies</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Medical/Health</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Music</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">News</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">People</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories">Tag List</a>
                    </li>
                </div>
                <li>
                    <a class="archive" href="{{ site.baseurl | replace: '//', '/' }}/categories">Archive</a>
                </li>
                
            </ul>
        </nav>
  
   <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
            
                  <nav class="iconnav">
            <ul>

                
 <div 
 id="socialmediabuttons"><a href="www.facebook.com" target="blank" title="Facebook"> <img src="nfocast.github.io/img/navicons/facebook-logo-1.svg" border="0" /></a><a href="www.Tumblr.com" target="blank" title="Tumblr"> <img src="nfocast.github.io/img/navicons/tumblr-logo-1.svg" border="0" /></a><a href="www.Twitter.com" target="blank" title="Twitter"> <img src="nfocast.github.io/img/navicons/twitter-sign.svg" border="0" /></a><a href="www.Youtube.com" target="blank" title="Youtube"> <img src="nfocast.github.io/img/navicons/youtube-logo-1.svg" border="0" /></a>
          </div>
            </ul>
        </nav>
                      
            <ul>
                <li class="sicon">
                    <a href='#search'><i class='fa fa-search'></i></a>
                </li>
            
            
        </a>
    </div>
</div>
