<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/about">Who am I?</a>
                </li>
                <li><a class="dropdown-button" href="{{ site.baseurl | replace: '//', '/' }}/categories" data-activates='drop-example'>Categories&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                </li>
                <div id="drop-example" class="dropdown-content">
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/art">Art</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/food/index.md">Food</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/funnies/index.md">Funnies</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/medical/index.md">Medical/Health</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/music/index.md">Music</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/news/index.md">News</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/people/index.md">People</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/categories/taglist.html">Tag List</a>
                    </li>
                </div>
                <li>
                    <a class="archive" href="{{ site.baseurl | replace: '//', '/' }}/archive">Archive</a>
                </li>
                
            </ul>
        </nav>
 <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</div>
