<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="nfocast.github.io/css/main.css" />
        <link rel="alternate" type="application/rss+xml" title="" href="/feed.xml">
    </head>

    <body class="index">
       <header class="head">
           {% include header.html %}
           {% include nav.html %}
        </header>
        <div class="margin">
            <div class="content">
                </div>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
               {% include grid.html %}
            </div>
        {% include footer.html %}
        {% if site.infinite_scroll == true %}
            <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
        {% endif %}
    </body>
</html>
