<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <header class="head">
  
            {% include nav.html %}
        </header>

        <div class="margin">
            <div class="content full">
                <div class="content-container">
                    <article>
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video-container">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% endif %}

                        <h1 class="post-title">
                            {{ page.title }}
                        </h1>
                        <div class="meta">
                            {% include author.html%} &bull;
                            <span class="date">
                                 {{ page.date | date: '%B %d, %Y' }}
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post-content">
                            {{ content }}
                        </div>
                        
                    </article>
                   
                </div>
            </div>
        </div>
        
    </body>
</html>
